<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello again</h1>
    <h3>Author: {{author}} </h3>
    <h3>Age: {{age}} </h3>
    <h3> Prev guilds: {{guilds}} </h3>

    {% if age >= 30%}
    <h3>You are definitely allowed to create a guild</h3>
    {% elif age > 18 %}
    <h3>You can have a guild</h3>
    {% else  %}
    <h3>You are not allowed to create a guild yet</h3>
    {% endif %}


    {% for i in members%}
    <h3>IGN: {{i.IGN}} Main Class: {{i.Class}} Joined:{{i.Joined}} </h3>
    {% endfor %}

</body>
</html>